<!DOCTYPE html>
<html>

<head>
  <title>
    result
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  type<br/>
  <input value="<%= result.type %>"/><br/><br/>
  accessToken<br/>
  <input style="width: 100%" value="<%= result.user.accessToken %>"/><br/><br/>
  refreshToken
  <input style="width: 100%" value="<%= result.user.refreshToken %>"/><br/><br/>
  <button onclick="refresh();">refresh</button>
  
  <script>
    
    function httpGet(url, callback, err = console.error) {
      const request = new XMLHttpRequest();
      request.open('GET', url, true);
      request.onload = () => callback(request.responseText);
      request.onerror = () => err(request);
      request.send();
    };
    
    function refresh() {
      var type = '<%= result.type %>';
      var accessToken = '<%= result.user.accessToken %>';
      var refreshToken = '<%= result.user.refreshToken %>';
      
      httpGet(`/auth/refresh?type=${type}&accessToken=${accessToken}&refreshToken=${refreshToken}`, (data) => { console.log(JSON.parse(data))});
    };
    
    function decodeHtmlEntity(str) {
      return str.replace(/&#(\d+);/g, function(match, dec) {
        return String.fromCharCode(dec);
      });
    };
    
    var result = '<%= log %>';
    result = decodeHtmlEntity(result);
    console.log(JSON.parse(result));
  </script>
</body>


</html>